<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.sellhouse.mapper.FloorMapper">
  <resultMap id="BaseResultMap" type="com.newer.sellhouse.domain.Floor">
    <id column="floorid" jdbcType="INTEGER" property="floorid" />
    <result column="itemid" jdbcType="INTEGER" property="itemid" />
    <result column="floornumber" jdbcType="INTEGER" property="floornumber" />
    <result column="structure" jdbcType="VARCHAR" property="structure" />
    <result column="tier" jdbcType="INTEGER" property="tier" />
    <result column="batch" jdbcType="VARCHAR" property="batch" />
    <result column="notout" jdbcType="VARCHAR" property="notout" />
    <result column="notapertura" jdbcType="VARCHAR" property="notapertura" />
    <result column="
creationdate" jdbcType="DATE" property="
creationdate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from floor
    where floorid = #{floorid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.newer.sellhouse.domain.Floor">
    insert into floor (floorid, itemid, floornumber, 
      `structure`, tier, batch, 
      notout, notapertura, 
creationdate
      )
    values (#{floorid,jdbcType=INTEGER}, #{itemid,jdbcType=INTEGER}, #{floornumber,jdbcType=INTEGER}, 
      #{structure,jdbcType=VARCHAR}, #{tier,jdbcType=INTEGER}, #{batch,jdbcType=VARCHAR}, 
      #{notout,jdbcType=VARCHAR}, #{notapertura,jdbcType=VARCHAR}, #{
creationdate,jdbcType=DATE}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.newer.sellhouse.domain.Floor">
    update floor
    set itemid = #{itemid,jdbcType=INTEGER},
      floornumber = #{floornumber,jdbcType=INTEGER},
      `structure` = #{structure,jdbcType=VARCHAR},
      tier = #{tier,jdbcType=INTEGER},
      batch = #{batch,jdbcType=VARCHAR},
      notout = #{notout,jdbcType=VARCHAR},
      notapertura = #{notapertura,jdbcType=VARCHAR},
      
creationdate = #{
creationdate,jdbcType=DATE}
    where floorid = #{floorid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select floorid, itemid, floornumber, `structure`, tier, batch, notout, notapertura, 
    
creationdate
    from floor
    where floorid = #{floorid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select floorid, itemid, floornumber, `structure`, tier, batch, notout, notapertura, 
    
creationdate
    from floor
  </select>
</mapper>