<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.sellhouse.mapper.AdmitbuySelMapper">
    <resultMap id="BaseResultMap" type="com.newer.sellhouse.domain.AdmitbuySel">
        <id column="admitBuyid" jdbcType="INTEGER" property="admitbuyid" />
        <result column="manageperson" jdbcType="VARCHAR" property="manageperson" />
        <result column="firstpay" jdbcType="DOUBLE" property="firstpay" />
        <result column="admitbuydate" jdbcType="DATE" property="admitbuydate" />
        <result column="clientName" jdbcType="VARCHAR" property="clientName" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="cardnumber" jdbcType="VARCHAR" property="cardnumber" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="fromtmoney" jdbcType="DOUBLE" property="fromtmoney" />
        <result column="adviserName" jdbcType="VARCHAR" property="adviserName" />
        <result column="mustprices" jdbcType="DOUBLE" property="mustprices" />
        <result column="sumprices" jdbcType="DOUBLE" property="sumprices" />
        <result column="houseName" jdbcType="VARCHAR" property="houseName" />
        <result column="payWayName" jdbcType="VARCHAR" property="payWayName" />
    </resultMap>

<select id="queryParam"  resultType="com.newer.sellhouse.domain.AdmitbuySel">
    select a.admitbuyid,a.admitbuyDate,a.firstPay,a.managePerson,s.fromtMoney,s.mustPrices,s.sumPrices,h.houseName,c.clientName,c.sex,c.cardnumber,c.phone,
    ad.adviserName,p.payWayName from admitbuy a LEFT JOIN schedule s on a.scheduleid=s.scheduleid LEFT JOIN
    house h on a.houseid=h.houseid LEFT JOIN client c on a.clientid=c.clientid LEFT JOIN adviser ad on a.adviserid=ad.adviserid LEFT JOIN payway p
    on a.payWayid=p.payWayid
    <where>
        <if test="clientName!='' and clientName!=null">
            and clientName like concat('%',concat(#{clientName},'%'))
        </if>
    </where>
</select>
</mapper>