<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.sellhouse.mapper.AdmitbuyMapper">
  <resultMap id="BaseResultMap" type="com.newer.sellhouse.domain.Admitbuy">
    <id column="admitBuyid" jdbcType="INTEGER" property="admitbuyid" />
    <result column="scheduleid" jdbcType="INTEGER" property="scheduleid" />
    <result column="managePerson" jdbcType="INTEGER" property="manageperson" />
    <result column="adviserid" jdbcType="INTEGER" property="adviserid" />
    <result column="clientid" jdbcType="INTEGER" property="clientid" />
    <result column="payWayid" jdbcType="INTEGER" property="paywayid" />
    <result column="houseid" jdbcType="INTEGER" property="houseid" />
    <result column="firstPay" jdbcType="DOUBLE" property="firstpay" />
    <result column="admitbuyDate" jdbcType="DATE" property="admitbuydate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admitbuy
    where admitBuyid = #{admitbuyid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.newer.sellhouse.domain.Admitbuy">
    insert into admitbuy (admitBuyid, scheduleid, managePerson, 
      adviserid, clientid, payWayid, 
      houseid, firstPay, admitbuyDate
      )
    values (#{admitbuyid,jdbcType=INTEGER}, #{scheduleid,jdbcType=INTEGER}, #{manageperson,jdbcType=INTEGER}, 
      #{adviserid,jdbcType=INTEGER}, #{clientid,jdbcType=INTEGER}, #{paywayid,jdbcType=INTEGER}, 
      #{houseid,jdbcType=INTEGER}, #{firstpay,jdbcType=DOUBLE}, #{admitbuydate,jdbcType=DATE}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.newer.sellhouse.domain.Admitbuy">
    update admitbuy
    set scheduleid = #{scheduleid,jdbcType=INTEGER},
      managePerson = #{manageperson,jdbcType=INTEGER},
      adviserid = #{adviserid,jdbcType=INTEGER},
      clientid = #{clientid,jdbcType=INTEGER},
      payWayid = #{paywayid,jdbcType=INTEGER},
      houseid = #{houseid,jdbcType=INTEGER},
      firstPay = #{firstpay,jdbcType=DOUBLE},
      admitbuyDate = #{admitbuydate,jdbcType=DATE}
    where admitBuyid = #{admitbuyid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select admitBuyid, scheduleid, managePerson, adviserid, clientid, payWayid, houseid, 
    firstPay, admitbuyDate
    from admitbuy
    where admitBuyid = #{admitbuyid,jdbcType=INTEGER}
  </select>
  <select id="selectAdmitBuyByClientNameHouseName" resultType="com.newer.sellhouse.domain.OffersumAdmitbuy">
    select a.admitBuyid,h.houseName,c.clientName
    from admitbuy a left join house h on  a.houseid=h.houseid left join client c on a.clientid=c.clientid
    <where>
      <if test="clientName!='' and clientName!=null">
        and clientid=(select clientid from client where clientName=#{clientName})
      </if>
      <if test="houseName!='' and houseName!=null">
        and houseid=(select houseid from house where houseName=#{houseName})
      </if>
    </where>
  </select>
</mapper>