<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.sellhouse.mapper.ClientcontactcarefulMapper">
  <!-- <resultMap id="BaseResultMap" type="com.newer.sellhouse.domain.Clientcontactcareful">
     <id column="clientContactCarefulid" jdbcType="INTEGER" property="clientcontactcarefulid" />
     <result column="purposeDegree" jdbcType="VARCHAR" property="purposedegree" />
     <result column="interviewDate" jdbcType="DATE" property="interviewdate" />
     <result column="messageAddress" jdbcType="VARCHAR" property="messageaddress" />
     <result column="email" jdbcType="VARCHAR" property="email" />
     <result column="houseMortgageLoan" jdbcType="VARCHAR" property="housemortgageloan" />
     <result column="aim" jdbcType="VARCHAR" property="aim" />
     <result column="projectPrice" jdbcType="VARCHAR" property="projectprice" />
     <result column="needArea" jdbcType="VARCHAR" property="needarea" />
     <result column="payWay" jdbcType="VARCHAR" property="payway" />
     <result column="considerFactor" jdbcType="VARCHAR" property="considerfactor" />
     <result column="contactWay" jdbcType="VARCHAR" property="contactway" />
     <result column="clientid" jdbcType="INTEGER" property="clientid" />
   </resultMap>-->

  <!--<resultMap id="BaseResultMap" type="com.newer.sellhouse.domain.Clientcontactcareful">
    <id column="clientContactCarefulid" jdbcType="INTEGER" property="clientcontactcarefulid" />
    <result column="purposeDegree" jdbcType="VARCHAR" property="purposedegree" />
    <result column="interviewDate" jdbcType="DATE" property="interviewdate" />
    <result column="messageAddress" jdbcType="VARCHAR" property="messageaddress" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="houseMortgageLoan" jdbcType="VARCHAR" property="housemortgageloan" />
    <result column="aim" jdbcType="VARCHAR" property="aim" />
    <result column="projectPrice" jdbcType="VARCHAR" property="projectprice" />
    <result column="needArea" jdbcType="VARCHAR" property="needarea" />
    <result column="payWay" jdbcType="VARCHAR" property="payway" />
    <result column="considerFactor" jdbcType="VARCHAR" property="considerfactor" />
    <result column="contactWay" jdbcType="VARCHAR" property="contactway" />
    <result column="clientid" jdbcType="INTEGER" property="clientid" />
  </resultMap>-->

  <resultMap id="BaseResultMap" type="com.newer.sellhouse.domain.Client">
    <id column="clientid" property="clientid" jdbcType="INTEGER"/>
    <result column="clientName" property="clientName" jdbcType="VARCHAR"/>
    <result column="sex" property="sex" jdbcType="VARCHAR"/>
    <result column="cardnumber" property="cardnumber" jdbcType="VARCHAR"/>
    <result column="age" property="age" jdbcType="VARCHAR"/>
    <result column="phone" property="phone" jdbcType="VARCHAR"/>
    <collection property="clientcontactcarefulList" column="clientContactCarefulid" ofType="com.newer.sellhouse.domain.Clientcontactcareful">
      <id column="clientContactCarefulid" property="clientContactCarefulid" jdbcType="INTEGER" />
      <result column="purposeDegree" property="purposeDegree" jdbcType="VARCHAR" />
      <result column="interviewDate" property="interviewDate" jdbcType="DATE" />
      <result column="messageAddress" property="messageAddress" jdbcType="VARCHAR" />
      <result column="email" property="email" jdbcType="VARCHAR" />
      <result column="houseMortgageLoan" property="houseMortgageLoan" jdbcType="VARCHAR" />
      <result column="aim" property="aim" jdbcType="VARCHAR" />
      <result column="projectPrice" property="projectPrice" jdbcType="DOUBLE" />
      <result column="needArea" property="needArea" jdbcType="VARCHAR" />
      <result column="payWay" property="payWay" jdbcType="VARCHAR" />
      <result column="considerFactor" property="considerFactor" jdbcType="VARCHAR" />
      <result column="contactWay" property="contactWay" jdbcType="VARCHAR" />
      <result column="clientid" property="clientid" jdbcType="INTEGER" />
    </collection>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from clientcontactcareful
    where clientContactCarefulid = #{clientcontactcarefulid,jdbcType=INTEGER}
  </delete>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select clientContactCarefulid, purposeDegree, interviewDate, messageAddress, email,
    houseMortgageLoan, aim, projectPrice, needArea, payWay, considerFactor, contactWay,
    clientid
    from clientcontactcareful
    where clientContactCarefulid = #{clientcontactcarefulid,jdbcType=INTEGER}
  </select>

  <select id="selectAll" parameterType="com.newer.sellhouse.domain.Client" resultMap="BaseResultMap">
    select cc.*,c.clientid,clientName,c.sex,c.cardnumber,c.age,c.phone from clientContactCareful cc LEFT JOIN client C on cc.clientid=c.clientid
    <where>
      <if test="cardnumber!=null and cardnumber!=''">
        and cardnumber like concat('%',concat(#{cardnumber},'%'))
      </if>
    </where>
  </select>
</mapper>