<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.sellhouse.mapper.ScheduleMapper">
  <resultMap id="BaseResultMap" type="com.newer.sellhouse.domain.Schedule">
    <id column="scheduleid" jdbcType="INTEGER" property="scheduleid" />
    <result column="houseid" jdbcType="INTEGER" property="houseid" />
    <result column="fromtMoney" jdbcType="DOUBLE" property="fromtmoney" />
    <result column="adviserid" jdbcType="INTEGER" property="adviserid" />
    <result column="remake" jdbcType="VARCHAR" property="remake" />
    <result column="scheduleDate" jdbcType="DATE" property="scheduledate" />
    <result column="clientid" jdbcType="INTEGER" property="clientid" />
    <result column="mustPrices" jdbcType="DOUBLE" property="mustprices" />
    <result column="sumPrices" jdbcType="DOUBLE" property="sumprices" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from schedule
    where scheduleid = #{scheduleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.newer.sellhouse.domain.Schedule">
    insert into schedule (scheduleid, houseid, fromtMoney, 
      adviserid, remake, scheduleDate, 
      clientid, mustPrices, sumPrices
      )
    values (#{scheduleid,jdbcType=INTEGER}, #{houseid,jdbcType=INTEGER}, #{fromtmoney,jdbcType=DOUBLE}, 
      #{adviserid,jdbcType=INTEGER}, #{remake,jdbcType=VARCHAR}, #{scheduledate,jdbcType=DATE}, 
      #{clientid,jdbcType=INTEGER}, #{mustprices,jdbcType=DOUBLE}, #{sumprices,jdbcType=DOUBLE}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.newer.sellhouse.domain.Schedule">
    update schedule
    set houseid = #{houseid,jdbcType=INTEGER},
      fromtMoney = #{fromtmoney,jdbcType=DOUBLE},
      adviserid = #{adviserid,jdbcType=INTEGER},
      remake = #{remake,jdbcType=VARCHAR},
      scheduleDate = #{scheduledate,jdbcType=DATE},
      clientid = #{clientid,jdbcType=INTEGER},
      mustPrices = #{mustprices,jdbcType=DOUBLE},
      sumPrices = #{sumprices,jdbcType=DOUBLE}
    where scheduleid = #{scheduleid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select scheduleid, houseid, fromtMoney, adviserid, remake, scheduleDate, clientid, 
    mustPrices, sumPrices
    from schedule
    where scheduleid = #{scheduleid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select scheduleid, houseid, fromtMoney, adviserid, remake, scheduleDate, clientid, 
    mustPrices, sumPrices
    from schedule
  </select>
</mapper>